
.post-carousel-container{
    border: 1px solid var(--brown-pale);
    background-color: var(--red-brown);
    height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.post-img{
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.post-carousel-arrow{
    border-radius: 100%;
    background-color: black;
    fill: white;
    padding: 4px;
    rotate: 90deg;
    position: absolute;
    cursor: pointer;
    top: 45%;
}

.post-carousel-arrow.left{
    left: 15px;
}

.post-carousel-arrow.right{
    right: 15px;
}