.skill-title-req{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-top: 20px;
}

.req-sin-icon{
    width: 25px;
    height: 25px;
}

.req-container{
    display: flex;
    align-items: center;
    min-width: 160px;
    gap: 4px;
}

.passive-cost-container{
    max-width: 180px;
}

.passive-cost-container>:not(:last-child){
    margin-right: 4px;
}

.active-skill-title.passive-skill-title{
    max-width: 240px;
}