.id-ego-local-card{
    height: 80px;
    padding: 8px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    background-color: var(--white-skin-color);
    border: 1px solid var(--brown-pale);
    color: black;
    font-family: "Mikodacs" , "Rubik", sans-serif;
    box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.id-ego-local-card:hover,.id-ego-local-card.active{
    border: 2px #FBB627 solid;
}

.id-ego-local-card-save-time{
    font-size: 14px;
    opacity: .7;
}

.id-ego-local-card-name{
    font-size: 20px;
}