.save-menu-container{
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 15;
    align-items: center;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

.save-menu-background{
    background-color: var(--popup-background-black);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.save-menu-outline{
    padding-right: 8px;
    background-color: var(--red-brown);
    border-right: 2px solid var(--brown-pale);
    width: min(100%,400px);
    z-index: 2;
    position: absolute;
    left: -999px;
}

.save-menu-outline.active{
    left: 0;
}
.save-menu-slide-in{
    height: 100vh;
    background-color: var(--white-skin-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .2s all;
}


.close-save-menu{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px; 
}

.close-save-menu:hover{
    fill:red;
}

.save-menu-content{
    height: 550px;
    padding: 12px 4px;
    min-width: 100%;
    box-sizing: border-box;
}

.save-menu-content *{
    box-sizing: border-box;
}

.save-menu-content .input{
    border-color: var(--red-brown);
}

.save-menu-list{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    gap: 4px;
    border: 2px solid var(--red-brown);
}

.save-menu-list.local{
    height: 90%;
}

.save-tab-input-container{
    margin-bottom: 4px;
    font-family: "Mikodacs" , "Rubik", sans-serif;
}

.edit-save-name-icon{
    cursor: pointer;
}

.edit-save-name-icon:hover{
    fill: green;
}

.save-tab{
    cursor: pointer;
    padding: 8px;
    background-color: #ECCAA5;
}

.save-tab:hover,.save-tab.active{
    border: 2px var(--hover-border-color) solid;
}

.created-time{
    font-size: 12px;
    font-family: "Mikodacs" , "Rubik", sans-serif;
}

.save-preview-img{
    width: 100px;
    height: 100px;
}

.create-new-save-btn{
    width: 100%;
}