NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_SENTRY_DSN=
API_URL=

NEXT_PUBLIC_SITE_URL=https://limbus-company-id-creator.com
NEXT_PUBLIC_GA_ID=G-DRPHJ20BKN
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=EOMmuwe09B4xyHvvl87ibojAIuf1snvLw9eP5Gt-Cm4

NEXT_PUBLIC_MAX_SKILLS=40
NEXT_PUBLIC_MAX_TRAITS=10
NEXT_PUBLIC_MAX_CUSTOM_KEYWORDS=20
NEXT_PUBLIC_LOCAL_SAVE_MAX_LEN=10

NEXT_PUBLIC_MAX_POST_USER_TAGS=20
NEXT_PUBLIC_MAX_FORUM_FILTER_TAGS=21
NEXT_PUBLIC_MAX_POST_IMAGES=8
NEXT_PUBLIC_MAX_POST_TITLE_LENGTH=199
NEXT_PUBLIC_MAX_USERNAME_LENGTH=65

NEXT_PUBLIC_MAX_SKILL_IMAGE_BYTES=100000
NEXT_PUBLIC_MAX_ID_SINNER_ICON_BYTES=100000
NEXT_PUBLIC_MAX_EGO_SINNER_ICON_BYTES=80000
NEXT_PUBLIC_MAX_ID_SPLASH_BYTES=4000000
NEXT_PUBLIC_MAX_EGO_SPLASH_BYTES=1200000
NEXT_PUBLIC_MAX_USER_ICON_BYTES=102400

NEXT_PUBLIC_POSTS_PER_PAGE=10
NEXT_PUBLIC_COMMENTS_PER_PAGE=10
NEXT_PUBLIC_CLOUD_SAVES_PER_PAGE=50
NEXT_PUBLIC_ALERT_MS=4000
NEXT_PUBLIC_SEARCH_DEBOUNCE_MS=300
NEXT_PUBLIC_AUTOSAVE_DEBOUNCE_MS=500
NEXT_PUBLIC_IMAGE_COMPRESS_MAX_MB=1
NEXT_PUBLIC_IMAGE_MIN_DIMENSION=1650
NEXT_PUBLIC_WEBP_QUALITY=0.7

API_REVALIDATE_SECONDS=60
API_TIMEOUT_MS=10000
HOME_LATEST_POSTS=4
SITEMAP_POST_COUNT=100
