.sinner-stats{
    font-weight: bold;
    position: relative;
    -webkit-text-stroke: .5px black;
    font-family: "Rubik", sans-serif;
    color: var(--Normal);
    white-space: nowrap;
}

.sinner-stats-container{
    width: 100%;
    padding: 8px;
}

.stat-container{
    display: flex;
    flex: 1;
}

.stat-container-slot{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.stat-icon{
    width: 30px;
    height: 30px;
}

.stat-content{
    text-align: center;
}

.stat-content-input{
    display: flex;
    align-items: center;
    gap: 4px;
}

.stagger-threshold-container{
    flex: 2;
}

.stagger-threshold-input{
    width: 100%;
    text-align: center;
}