.drop-down-container{
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    max-width: 145px;
    min-width: 65px;
    position: relative;
}

.disabled-block{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.296);
}

.curr-el{
    padding: 4px;
    height: auto;
    border: solid rgba(177, 161, 161, 0.599) 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down{
    display: none;
    background-color: black;
    width: 100%;
    position: absolute;
    z-index: 2;
    max-height: 150px;
    overflow-y: auto;
}

.drop-down.active{
    display: block;
}

.drop-down-el{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: solid rgba(177, 161, 161, 0.599) 2px;
    border-top: none;
    overflow: hidden;
    cursor: pointer;
}

.sin-affinity-drop-down,.damage-type-drop-down,.sinner-drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sin-affinity-drop-down img,.damage-type-drop-down img,.sinner-drop-down img,.defense-type-drop-down img{
    width: 20px;
    height: 20px;
}

.arrow-down{
    fill: white;
}