.tiptap-editor-wrapper {
    position: relative;
}

.tiptap-editor-content .tiptap {
    height: 250px;
    overflow-y: auto;
    white-space: break-spaces;
    padding: 5px;
    border: 1px solid white;
    outline: none;
    font-family: var(--font-rubik), sans-serif;
    color: white;
}

.tiptap-editor-content .tiptap p {
    margin: 0;
}

.tiptap-editor-content .tiptap img.status-icon {
    display: inline;
    vertical-align: middle;
}
