.header-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-field{
    min-width: 300px;
    width: fit-content;
    height: 45px;
    font-size: 46px;
    text-align: center;
    padding: 0px 15px;
    position: relative;
    text-shadow: 0px 4px 2px rgba(0,0,0,0.32);
}

.sinner-rarity-icon{
    height: 40px;
}

.ego-level-icon{
    height: 25px;
}

.sanity-cost-container{
    font-size: 24px;
    font-weight: 500;
    color: #94AFCC;
    gap: 12px;
}

.sanity-cost-img{
    height: 50px;
}

.sanity-cost{
    font-size: 35px;
    color: #ECCCA4;
}

.name-field p{
    position: relative;
    top: -25%;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 2px;
    font-weight: 500;
}

.title-field{
    position: relative;
    min-width: 250px;
    width: fit-content;
    height: 15px;
    text-align: center;
    font-size: 22px;
    padding: 0px 5px;
    color: var(--title-color);
    text-shadow: 0px 4px 2px rgba(0,0,0,0.32);

}

.title-field p{
    position: relative;
    top: -10px;
    max-width: 100%;
    font-weight: 500;
}

.name-field .input, .title-field .input{
    text-align: center;
    border-color: var(--Normal);
}

