.alert-popup-group{
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 999999;
}

.alert-popup{
    transition: all 0.2s;
    margin-bottom: 8px;
    transform: translateX(999px);
    color: white;
    border: 2px solid var(--brown-pale);
    padding: 8px;    
    min-width: 100px;
    max-width: 250px;
    font-family: "Rubik", sans-serif; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.alert-popup.active{
    transform: translateX(0px);
}

.alert-popup-close-icon{
    fill: white;
    cursor: pointer;
}

.alert-popup-close-icon:hover{
    fill: red;
}