@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Wrath:rgb(141,66,46);
    --Lust: rgb(174,93,47);
    --Sloth: rgb(219,131,4);
    --Gluttony: rgb(94,126,39);
    --Gloom: rgb(44,92,106);
    --Envy: rgb(120,73,137);
    --Pride: rgb(20,76,123);
    --None: #A16A3C;

    --Lust-input-page: #401D0B;
    --Pride-input-page:#071724;
    --Envy-input-page:#170023;
    --Wrath-input-page:#3B0505;
    --Gluttony-input-page:#283B09;
    --Sloth-input-page:#684e16;
    --Gloom-input-page:#04232B;
    --None-input-page:#332317;

    /* Color for the title shadow */
    --Wrath-title-shadow: #4a1b14;
    --Lust-title-shadow: #56250E;
    --Sloth-title-shadow: #393702;
    --Gluttony-title-shadow: #2A310F;
    --Gloom-title-shadow: #14343A;
    --Envy-title-shadow: #1E002C;
    --Pride-title-shadow: #101F2D;
    --None-title-shadow:#301B10;

    --Yi-Sang-color: #d4dfe8;
    --Faust-color: #F7ABAF;
    --Don-color: #ffef23;
    --Ryōshū-color: #cf0000;
    --Meursault-color: #293b95;
    --Hong-Lu-color: #5bffde;
    --Heathcliff-color: #4e3076;
    --Ishmael-color: #ff9500;
    --Rodya-color: #820000;
    --Sinclair-color: #8b9c15;
    --Outis-color: #325339;
    --Gregor-color: #69350b;
    --Fatal:red;
    --Endure:#9B9899;
    --Normal:#DABD97;
    --title-color:#A16840;

    --Id-card-width:1440px;
    --Id-card-height:990px;
    --Skill-max-width:490px;

    --Buff-color:#D5BE00;
    --Debuff-color:#C10000;
    --Neutral-color: #9F6A3A;

    --button:rgba(0, 162, 255, 0.773);
    --white-skin-color: #D3B794;
    --brown-pale: #453A32;
    --background-black:rgb(35,36,31);
    --red-brown: #4e0a06;
    --white-neutral-weak: rgba(255, 255, 255, 0.749);
    --red-meta-txt: #a2130a;

    --hover-border-color: #FBB627;
    --loading-background-color: rgba(255, 255, 255, 0.503);
    --popup-background-black: rgba(0, 0, 0, 0.303);
    --post-background: #1a1111;

    --layout-max-width: 1200px;
    --padding-layout-width: 16px;
    --id-ego-card: 300px;
    --id-ego-mobile-card: 150px
}

*{
    font-family: "Rubik", sans-serif; 
    word-break: break-word;
    box-sizing: border-box;
}

body{
    background: var(--background-black);
}

label{
    cursor: pointer;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: "Mikodacs";
    src: local("Mikodacs"),url("../Font/mikodacs/mikodacs.regular.ttf");
    font-weight: normal;
}

.hidden{
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
    cursor: pointer;
}

.input{
    background: transparent;
    outline: none;
    border: 2px solid white;
    font-size: inherit;
    font-family: inherit;
    transition: all 0.1s;
    color: inherit;
}

.input:hover{
    border-color: var(--hover-border-color);
}

.input.disable{
    background-color: rgba(255, 255, 255, 0.296);
}

.input.block{
    display: block;
}

.input.preview{
    border: none;
}

.input-number{
    max-width: 30px;
    text-align: center;
}

.status-effect{
    text-decoration: underline;
}

.status-icon{
    width: 15px;
    height: 15px;
}

.buff-text-color{
    color: #FAC400;
}

.debuff-text-color{
    color: #C10000;
}

.neutral-text-color{
    color: #9F6A3A;
}

.header-txt{
    font-size: 32px;
}

.center-element{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.center-element-vertically{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.effect-guide{
    margin: 8px 0px;
    color: var(--Normal);
}

.textcomplete-item{
    border: 1px solid white;
    background-color: black;
    padding: 4px;
    font-family: "Rubik", sans-serif; 
    cursor: pointer;  
}

.textcomplete-item.active,.textcomplete-item:hover{
    background-color: var(--button);
}


.main-button{
    font-family: "Mikodacs" , "Rubik", sans-serif;
    border: 2px solid var(--brown-pale);
    color: black;
    fill: black;
    background-color: var(--white-skin-color);
    padding: 4px;
    transition: all .1s ;
    box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.75) inset;
    min-width: 95px;
    font-size: 14px;
}

.main-button:hover,.main-button.active,.loading-button{
    background-color: black;
    border-color: var(--hover-border-color);
    color: var(--white-skin-color);
    fill: var(--white-skin-color);
}

.main-button.active{
    cursor: auto;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}

.contents-container{
    display: contents;
}

.warning-message{
    font-size: 10px;
    color: red;
}

/* Style for the wysiwyg simple editor */
.rsw-ce{
    height: 150px;
    overflow-y: auto;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}