.damage-type-input-container{
    width: min-content;
    padding: 5px;
    display: flex;
    gap: 4px;
    background-color: black;
    border: 2px solid white;
    position: relative;
}

.damage-type-input-container>.disabled{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.305);
    z-index: 1;
}

.damage-type-input-option{
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: saturate(0);
}

.damage-type-input-option.active{
    filter: none;
}