.sin-cost-container{
    font-weight: 500;
    height: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.sin-cost{
    font-size: 25px;
}

.sin-cost:not(:last-child),.cost-txt{
    margin-bottom: 20px;
}

.cost-txt{
    font-size: 28px;
}