.input-tab{
    padding: 0 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    color: white;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.1s;
    min-width: 100px;
    min-height: 100%;
}

.input-tab.active,.input-tab:hover{
    border: 1px solid var(--hover-border-color);
}

.delete-tab-icon{
    width: 15px;
    height: 15px;
    fill: white;
}

.delete-tab-icon:hover{
    fill: red;
}

.tab-content{
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.tab-icon{
    width: 12px;
    height: 12px;
}