.rarity-icon-container{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 8px;
    gap: 4px;
    border: 2px solid var(--Normal);
}

.rarity-icon{
    flex: 1;
    cursor: pointer;
    max-width: 55px;
    max-height: 55px;
    filter: saturate(0);
}

.rarity-icon.active{
    filter: none;
}