.download-btn{
    position: fixed;
    border-radius: 100%;
    cursor: pointer;
    padding: 6px;
    z-index: 999;
    top: 120px;
    right: 15px;
    border: 2px solid white;
    background-color: var(--button);
}