.sinner-stats{
    position: absolute;
    bottom: 5%;
    left: -35px;
    width: 120%;
    min-height: 165px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    font-weight: bold;
    -webkit-text-stroke: .5px black;
    font-family: "Rubik", sans-serif;
    color: var(--Normal);
    transform: rotate(15deg);
    white-space: nowrap;
}

.sinner-stats-border{
    padding: 8px;
    width: 100%;
    background-color: rgb(32,22,14);
    overflow: hidden;
}

.sinner-stats-container{
    width: 80%;
    height: 100%;
    margin-left: 17px;
    padding: 8px;
}

.stat-container{
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: 4px;
}

.stat-container-slot{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.stat-icon{
    width: 40px;
    height: 40px;
}

.stat-content{
    text-align: center;
}

.stat-content-input{
    display: flex;
    align-items: center;
    gap: 4px;
}

.stagger-threshold-container{
    flex: 2;
}

.stagger-threshold-input{
    width: 100%;
    text-align: center;
}