.popup-container{
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

.popup-background{
    background-color: var(--popup-background-black);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}


.popup-outline{
    padding: 8px;
    background-color: var(--red-brown);
    border: 2px solid var(--brown-pale);
    border-radius: 4px;
}

.popup{
    padding: 8px;
    border: 2px solid var(--brown-pale);
    background-color: var(--white-skin-color);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.close-popup{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px; 
}

.close-popup:hover{
    fill: red;
}