.show-input-tab-container{
    display: none;
    position: fixed;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px;
    z-index: 10;
    bottom: 35px;
    right: 15px;
    border: 2px solid white;
    background-color: var(--button);
}

@media screen and (max-width:800px) {
    .show-input-tab-container{
        display: block;
    }
}