.tag-input-container{
    width: 100%;
}

.tag-input{
    width: 100%;
}

.found-tag-outer-container{
    width: 100%;
    position: relative;
    bottom: 0;
}

.found-tag-container{
    position: absolute;
    width: 100%;
    z-index: 2;
    overflow-y: auto;
    max-height: 150px;
}

.found-tag{
    padding: 0px 4px;
    width: 100%;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
    color: white;
}

.found-tag:not(:first){
    border-top: none;
}

.found-tag:hover,.found-tag.active{
    background-color: var(--button);
}