.name-field{
    min-width: 300px;
    width: fit-content;
    height: 45px;
    font-size: 46px;
    text-align: center;
    padding: 0px 15px;
    position: relative;
}

.sinner-rarity-icon{
    height: 40px;
}


.name-field p{
    position: relative;
    top: -25%;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 2px;
}

.title-field{
    position: relative;
    min-width: 250px;
    width: fit-content;
    height: 15px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 0px 5px;
    color: var(--title-color);
}

.title-field p{
    position: relative;
    top: -8px;
    max-width: 100%;
    overflow: hidden;
}

.name-field .input, .title-field .input{
    text-align: center;
    border-color: var(--Normal);
}

