.upload-img-btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
}

.upload-file-input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}